[user]
	name = Brian Cristante
	email = 33549821+brcrista@users.noreply.github.com
[github]
	user = brcrista
[push]
	default = simple
[pull]
	rebase = false
[grep]
	lineNumber = true
	extendedRegexp = true
[color]
	ui = auto
[core]
	editor = vim
